@import "../../../styles.scss";


table,
th,
td {
  border: 1px solid black;
}
.grid {
  width: 100%;
  background: #e6e6fa;
  padding: 10px 2% 10px 2%;
  float: none;
  font-size: 12px;
}

// Definiciones de colores (asegúrate de tener estos colores definidos en variables globales)
$background-color: #1e1e2f;
$text-color: #ffffff;
$input-background-color: #2e2e3f;
$input-border-color: #3e3e4f;
$input-focus-border-color: #5e5e7f;
$label-color: #ffffff;
$button-background-color: #4e4e5f;
$button-hover-background-color: #5e5e7f;
$button-text-color: #ffffff;

// Contenedor de input
.input-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

// Estilo para la etiqueta del input
.input-label {
  color: $label-color;
  margin-bottom: 5px;
}

// Estilo para el input
.styled-input {
  background-color: $input-background-color;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  color: $text-color;
  padding: 10px;
  font-size: 16px;
  outline: none;

  &:focus {
    border-color: $input-focus-border-color;
  }
}

.button-container {
  margin-top: 10px;
}

// Estilo para el botón
.styled-button {
  background-color: $button-background-color;
  border: none;
  border-radius: 4px;
  color: $button-text-color;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $button-hover-background-color;
  }

  &:focus {
    outline: none;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222; /* Fondo oscuro para el formulario */
  padding: 20px;
  border-radius: 10px;
  width: 300px; /* Ancho del formulario */
  margin: 0 auto; /* Centrar horizontalmente */
}

label {
  color: #fff; /* Color de texto claro */
  margin-bottom: 5px;
  align-self: flex-start; /* Alinear las etiquetas a la izquierda */
}

.input-field {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  padding: 10px;
  margin-bottom: 15px;
  background-color: #333; /* Fondo oscuro para los inputs */
  border: 1px solid #555; /* Borde oscuro */
  border-radius: 5px;
  color: #fff; /* Color de texto claro */
}

.input-field::placeholder {
  color: #bbb; /* Color del placeholder */
}

.input-field:focus {
  outline: none;
  border-color: #777; /* Color de borde al enfocar */
}


.btn-submit {
  padding: 0.7em;
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
}

.second-btn {
  margin-left: 10px; /* Ajusta el valor según el espaciado deseado */
}
label {
  color: #fff; /* Color de texto claro */
  margin-bottom: 5px;
  align-self: flex-start; /* Alinear las etiquetas a la izquierda */
}
