<div class="form-container">
  <label for="codigoUsuario">Numero cuenta</label>
  <input
    type="text"
    id="codigoUsuario"
    class="input-field"
    placeholder="Ingrese código de usuario"
    [(ngModel)]="numCuent"
  />

  <label for="codigoUsuario">Nombre cuenta</label>
  <input
    [(ngModel)]="nomCuen"
    type="text"
    id="codigoUsuario"
    class="input-field"
    placeholder="Ingrese código de usuario"
  />

  <label for="message">{{ message }}</label>

  <div>
    <button type="submit" class="btn-submit" (click)="saveAccounts()">
      Guardar cuenta
    </button>
  </div>
</div>

<div class="accounts-container">
  <h1>Account List</h1>
  <div>
    <button type="submit" class="btn-submit" (click)="this.fnGetAccounts()">
      Obtener cuentas
    </button>

    <button type="submit" class="btn-submit second-btn" (click)="clearAccounts()">
      limpiar cuentas
    </button>
  </div>
  <table *ngIf="lAccounts">
    <thead>
      <tr>
        <th>Account Number</th>
        <th>Account Name</th>
        <th>User Code</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of lAccounts">
        <td>{{ row.id }}</td>
        <td>{{ row.NumeCuen }}</td>
        <td>{{ row.NombCuen }}</td>
        <td>{{ row.CodiUser }}</td>
      </tr>
    </tbody>
  </table>
</div>

<br />
<div class="input-container">
  <label for="user-input" class="input-label">Usuario</label>
  <input
    id="user-input"
    type="text"
    class="styled-input"
    [(ngModel)]="userAccount"
  />
</div>

<div class="button-container">
  <button class="styled-button" (click)="fnGetAccounts2()">Submit</button>
</div>

<div class="accounts-container">
  <h1>Account List</h1>
  <table *ngIf="lAccounts2">
    <thead>
      <tr>
        <th>Account Number</th>
        <th>Account Name</th>
        <th>User Code</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of lAccounts2">
        <td>{{ row.id }}</td>
        <td>{{ row.NumeCuen }}</td>
        <td>{{ row.NombCuen }}</td>
        <td>{{ row.CodiUser }}</td>
      </tr>
    </tbody>
  </table>
</div>
