<div class="form-container">
  <label for="codigoUsuario">Código Usuario</label>
  <input
    type="text"
    id="codigoUsuario"
    class="input-field"
    placeholder="Ingrese código de usuario"
    [(ngModel)]="codigoUsuario1"
    (keyup)="keyInput()"
  />

  <label for="codigoUsuario">Código Usuario with time</label>
  <input
    [(ngModel)]="codigoUsuario"
    (input)="onInputChange($event)"
    type="text"
    id="codigoUsuario"
    class="input-field"
    placeholder="Ingrese código de usuario"
  />

  <label for="nombre">Nombre</label>
  <input
    [(ngModel)]="nameUser"
    type="text"
    id="nombre"
    class="input-field"
    placeholder="Ingrese nombre"
  />

  <label for="password">Contraseña</label>
  <input
    [(ngModel)]="passUser"
    type="text"
    id="password"
    class="input-field"
    placeholder="Ingrese contraseña"
  />
</div>
